.expenseDate {
  display: flex;
  align-items: center;
  color: var(--color-text-600);
  margin-bottom: 0.5em;
}

.expenseDate__month {
  font-size: 1rem;
}

.expenseDate__year {
  font-size: 0.75rem;
}

.expenseDate__day {
  font-size: 1rem;
  padding-right: 0.25em;
}
