.expenseItem {
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 0.25em;
  background-color: var(--color-foreground);
  box-shadow: 0 0 0.375em var(--color-shadow);
}

.expenseItem__description {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0.5em 0.5em 0.25em 0.5em;
}

.expenseItem__heading,
.expenseItem__body {
  display: flex;
  flex-direction: column;
}

.expenseItem__heading {
  align-items: flex-start;
}

.expenseItem__body {
  align-items: flex-end;
}

.expenseItem__title,
.expenseItem__price {
  color: var(--color-text-1100);
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 0.0375rem;
}

.expenseItem__category,
.expenseItem__tax {
  color: var(--color-text-600);
  letter-spacing: 0.02rem;
}
